<p id="notice"><%= notice %></p>
<br>
<br>
<h1>Authors</h1>
<br>
<br>
<table style = "width:30%;">
  <thead>
    <tr>
      <th>Author Name</th>
      <th>Author Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.authorname %></td>
        <td><%= image_tag author.authorphoto, :size=> "110x150" %></td>
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Author', new_author_path %>
