<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :order_user_id %>
  </div>

  <div class="field">
    <%= form.label :totalprice %>
    <%= form.number_field :totalprice, id: :order_totalprice %>
  </div>

  <div class="field">
    <%= form.label :dispatch %>
    <%= form.datetime_select :dispatch, id: :order_dispatch %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
