<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.username %>
</p>

<p>
  <strong>Book:</strong>
  <%= @order.book.bookname %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @order.totalprice %>
</p>

<p>
  <strong>Dispatch:</strong>
  <%= @order.dispatch %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
