<html>
<body>
<br>
<br>
<h1>Welcome to Nolan's Online Book Store</h1>
<br>
<br>
<h2>Conor Nolan's Website - booksapp</h2>
<h2><%= link_to "GitHub Page", "https://github.com/conornolan1994" %></h2>
<font color = "blue">
<br>
<br>
<h2><%= link_to 'Books', books_path %> </h2>
<h2><%= link_to 'Authors', authors_path %></h2>
<h2><%= link_to 'Categories', categories_path %></h2>
<h2><%= link_to 'Users', users_path %></h2>
<br>
<br>
</font>
<h3>New user? <%= link_to "Sign up now!", new_user_path %></h3>
<br>
<br>
</body>
</html>