<!DOCTYPE html>
<html>
  <head>
    <title>Nolan's Book Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Nolan's Book Store</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="\">Home</a></li>
		<li><% if !signed_in? %>
						<%= link_to "Sign In", login_path %>
					<% else %>
						Signed in as <%= @current_user.username %> <%= link_to "Sign Out", logout_path %>
					<% end %>
		</link_to>
        <li><a href="books">Books</a></li>
		<li><%= mail_to "C15757905@mydit.ie", class: "glyphicon glyphicon-envelope" do %> Contact Us
		<% end %>
		</li>
      </ul>
    </div>
  </div>
</nav>
	

  
  <br>
  <br>
  
  <%= yield %>
  </body>
</html>